* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 217, 217);
}
.container {
  height: 30rem;
  width: 40rem;
  background-color: white;
  box-shadow: 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  border-radius: 10px;
}
form {
  height: 20rem;
  width: 33rem;
}
input {
  width: 100%;
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid gray;
}
label {
  font-size: 30px;
}
button {
  font-size: 30px;
  border: none;
  color: white;
  background-color: blue;
  padding: 3px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
}

.datacontainer {
  height: 20rem;
  width: 40rem;
  background-color: white;
  margin-top: 20%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}
p {
  font-size: 30px;
  position: relative;
  left: 140px;
  top: 100px;
  margin: 15px;
}
h1 {
  font-size: 40px;
  position: relative;
  left: 140px;
  top: 100px;
}
